<nav class="navbar bg-body-tertiary" style="background-color: #737373;">
    <div class="row" style="width: 100%;">
        <div class="col-8">
            <h1 style="padding-left: 5%;">Transaction App</h1>
        </div>
        <div class="col-4 click-buttons">
            <form class="container-fluid justify-content-start">
                <button class="btn btn-sm btn-outline-primary" type="button" style="color: #dada0b;" (click)="navigateToDashboard()">Dashboard</button>
                <button class="btn btn-sm btn-outline-primary" type="button" style="color: #dada0b;" (click)="navigateToTransactionHistory()">Transaction History</button>
                <button class="btn btn-sm btn-outline-primary" type="button" style="color: #dada0b;" (click)="navigateToEditProfile()">Edit Profile</button>

              </form>
        </div>
    </div>
    
  </nav>